
replicaCount: 1


image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "1.21"

service:
  type: ClusterIP
  port: 80
  targetPort: 80

serviceAccount:
  create: true
  annotations: {}
  name: ""

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issure: "letsencrypt-prod"
  hosts:
    - host: webapp.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: webapp-tls
      hosts:
        - webapp.example.com

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: true 
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

configMap:
  enabled: true
  data: 
    nginx.conf: |
      events { worker_connections 1024; }
      http {
        server {
          listen 80;
          location / {
            return 200 'Hello from Helm Chart Htammous';
            add_header Content-Type text/plain;
          }
        }
      }

httpRoute:
  enabled: false
  parentRefs:
    - name: gateway-name
      namespace: gateway-namespace
  hostnames:
    - example.com
  rules: []

redis:
  enabled: true
  auth:
    enabled: false
  master:
    persistence:
      enabled: false

postgresql:
  enabled: true 
  auth:
    database: webapp
    username: webapp
    password: webapp123
  primary:
    persistence:
      enabled: false

