apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  labels: 
    app: guestbook
spec:
  replicas: 2
  selector:
      matchLabels:
        app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
  spec:
    containers:
    - name: guestbook
      image: gcr.io/heptio-images/ks-guestbook-demo:0.1
      ports:
      - containerPort: 3000
      env:
      - name: PORT
        value: "3000"
      resources:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "128Mi"
          cpu:  "200m"